body{
    background-image: url('/registration/signup/profile/img/bg-top.gif')  ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.wrapper {
    
    display: flex;
    justify-content: center;
    
    
}

.logo{
    color: #E96479;
    font-family: "Playfair Display SC", serif;
    font-weight: 900;
    font-style: normal;
    text-align: center;
    margin-bottom: 40px;
}
 .text{
    color: #E96479;
    font-family: "Playfair Display SC", serif;
    font-weight: 900;
    font-style: normal;
    text-align: center;
    margin-bottom: 40px;
    
}
p{
    /* from google font */
     font-family: "Playfair Display SC", serif;
    font-weight: 400;
    font-style: normal;}

 #descriptionCard {

    background: radial-gradient(circle, #99968e 0%,rgb(38, 36, 36)  100%);
    margin-right: 20px;
    width: 400px;
    height: 400px;
    border-radius: 30px;
    border : solid transparent;
    box-shadow: 2px 2px 2px 2px rgb(38, 36, 36);
}
    

.modal-content{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    border : solid transparent;
    background: radial-gradient(circle, #99968e 0% ,rgb(38, 36, 36) 100%);
    
    box-shadow: 2px 2px 2px 2px rgb(38, 36, 36);
}

input {
    
    width : 75%;
    height: 30px;
    border-radius: 20px;
    background: #7DB9B6;
    border: transparent;
    margin-left: 50px;
}
button{
    color: #F5E9CF;
    width : 75%;
    height: 30px;
    border-radius: 20px;
    background: #7DB9B6;
    border: transparent;
    margin-left: 50px;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#newUsername{
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#newPassword{
    margin-bottom: 50px;
    text-align: center;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}